**QUESTION-1**

In [ ]:
# 197212 RAMAKRISHNA
# Question-1

# list with different data types
list = [2,3.14,"hello",'c',set({2,4,6,8}),{"bye":4}]
print(list)

[2, 3.14, 'hello', 'c', {8, 2, 4, 6}, {'bye': 4}]

**1-a**

In [ ]:
# 197212 RAMAKRISHNA
# Question-1 
# a
# length of list
len(list)

6

**1-b**

In [ ]:
# 197212 RAMAKRISHNA
# Question-1 
# b
print(list[-1]) # list(6)

print(list[-3]) # list(4)

#list[-i] -> list[n-i] where n=len(list)

{'bye': 4}
c

**1-c**

In [ ]:
# 197212 RAMAKRISHNA
# Question-1 
# c
list.append('new element') # adding new elememt of data type string
print(list)

[2, 3.14, 'hello', 'c', {8, 2, 4, 6}, {'bye': 4}, 'new element']

**1-d**

In [ ]:
# 197212 RAMAKRISHNA
# Question-1 
# d
list.extend(["adding several items to the list",2.094,365,'k'])
print(list)

[2, 3.14, 'hello', 'c', {8, 2, 4, 6}, {'bye': 4}, 'new element', 'adding several items to the list', 2.094, 365, 'k']

**1-e**

In [ ]:
# 197212 RAMAKRISHNA
# Question-1 
# e
list.append(["This is nested list",8.124,9]) #adding list (becomes nested list)
print(list)

[2, 3.14, 'hello', 'c', {8, 2, 4, 6}, {'bye': 4}, 'new element', 'adding several items to the list', 2.094, 365, 'k', ['This is nested list', 8.124, 9]]

**1-f**

In [ ]:
# 197212 RAMAKRISHNA
# Question-1 
# f
print(list.index(3.14))               # getting index of float 3.14
print(list.index("new element"))      # getting index of string "new element"
print(list.index({8,2,4,6}))          # getting index of set {8,2,4,6}

1
6
4

**1-g**

In [ ]:
# 197212 RAMAKRISHNA
# Question-1 
# g
list.insert(3,"insert at index 3")    # inserting string at index 3
print(list)

[2, 3.14, 'hello', 'insert at index 3', 'c', {8, 2, 4, 6}, {'bye': 4}, 'new element', 'adding several items to the list', 2.094, 365, 'k', ['This is nested list', 8.124, 9]]

**1-h**

In [ ]:
# 197212 RAMAKRISHNA
# Question-1 
# h
list[4]='A'   #we can change or update any value directly by accessing the index
print(list)

[2, 3.14, 'hello', 'insert at index 3', 'A', {8, 2, 4, 6}, {'bye': 4}, 'new element', 'adding several items to the list', 2.094, 365, 'k', ['This is nested list', 8.124, 9]]

**1-i**

In [ ]:
# 197212 RAMAKRISHNA
# Question-1 
# i

# adding duplicate values 'A'
list.append('A')
list.append('A')
list.append('A')
print(list)

[2, 3.14, 'hello', 'insert at index 3', 'A', {8, 2, 4, 6}, {'bye': 4}, 'new element', 'adding several items to the list', 2.094, 365, 'k', ['This is nested list', 8.124, 9], 'A', 'A', 'A']

**1-j**

In [ ]:
# 197212 RAMAKRISHNA
# Question-1 
# j
list.pop(0)  # removing 1st element

2

In [ ]:
print(list)

[3.14, 'hello', 'insert at index 3', 'A', {8, 2, 4, 6}, {'bye': 4}, 'new element', 'adding several items to the list', 2.094, 365, 'k', ['This is nested list', 8.124, 9], 'A', 'A', 'A']

**1-k**

In [ ]:
# 197212 RAMAKRISHNA
# Question-1 
# k

# As we cannot sort between different data types we cannot use sort for the list created above.
# to show sort function using real numbers as elements of list

num_list = [1,4,8,3,2,4.5,6.7,1.9]
num_list.sort()
print(num_list)

[1, 1.9, 2, 3, 4, 4.5, 6.7, 8]

**1-l**

In [ ]:
# 197212 RAMAKRISHNA
# Question-1 
# l

list.reverse()   #reversing the list
print(list)

['A', 'A', 'A', ['This is nested list', 8.124, 9], 'k', 365, 2.094, 'adding several items to the list', 'new element', {'bye': 4}, {8, 2, 4, 6}, 'A', 'insert at index 3', 'hello', 3.14]

****************************************************************************************

**QUESTION-2**

In [ ]:
# 197212 RAMAKRISHNA
# Question-2

T = (1,2,2,1.4,"string",[4,9,16],{"key":2})   # Tuple T is created
print(T)

(1, 2, 2, 1.4, 'string', [4, 9, 16], {'key': 2})

In [ ]:
print(T.count(2))            # this returns number of times 2 occured
print(T.count("string"))     # this returns number of times sting "string" occured

2
1

In [ ]:
print(T.index(1.4))            # this returns index of float 1.4
print(T.index(1))              # this returns index of integer 1
print(T.index([4,9,16]))       # this returns index of list [4,9,16]
print(T.index({"key":2}))      # this returns index of dictionary {"key":2}

3
0
5
6

****************************************************************************************

**QUESTION-3**

In [ ]:
# 197212 RAMAKRISHNA
# Question-3

S1={1,2,3,4,5,6,7.3}       # set S1 is created
S2={5,6,7,8,9}             # set S1 is created
print("S1 : ",S1)
print("S2 : ",S2)

S1 :  {1, 2, 3, 4, 5, 6, 7.3}
S2 :  {5, 6, 7, 8, 9}

**3-a**

In [ ]:
# 197212 RAMAKRISHNA
# Question-3
# a

S1.union(S2)       # returns set which is union of S1 and S2

{1, 2, 3, 4, 5, 6, 7, 7.3, 8, 9}

In [ ]:
# 197212 RAMAKRISHNA
# Question-3
# a

S1.intersection(S2)       # returns set which is intersection of S1 and S2

{5, 6}

**3-b**

In [ ]:
# 197212 RAMAKRISHNA
# Question-3
# b

S1.add(10)    # adding element 10 to set S1
S1.add(2.4)   # adding element 2.4 to set S1
S1.add(1.0)   # adding element 1.0 to set S1 it will be not added since 1 is already present in S1
S2.add(10)    # adding element 10 to set S2
S2.add(8.9)   # adding element 8.9 to set S2

print("S1 : ",S1)
print("S2 : ",S2)

S1 :  {1, 2, 3, 4, 5, 6, 7.3, 2.4, 10}
S2 :  {5, 6, 7, 8, 9, 10, 8.9}

In [ ]:
S1.update(S2)            # adding all elements that are present in S2 to S1
S1.update([100,121.56])  # adding multiple elements at once by storing them in list and using here

In [ ]:
print(S1)
print(S2)

{1, 2, 3, 4, 5, 6, 7.3, 2.4, 7, 10, 8, 9, 8.9, 100, 121.56}
{5, 6, 7, 8, 9, 10, 8.9}

**3-c**

In [ ]:
# 197212 RAMAKRISHNA
# Question-3
# c

print(S1-S2)      # performing S1-S2 operation (removing elements of S2 from S1)

{1, 2, 3, 4, 2.4, 100, 7.3, 121.56}

**3-d**

In [ ]:
# 197212 RAMAKRISHNA
# Question-3
# d

S1.symmetric_difference(S2)     # performing symmetric difference between S1 and S2
# equivalent operatiion : (S1 union S2) - (S1 intersection S2)

{1, 2, 2.4, 3, 4, 7.3, 100, 121.56}