In [ ]:
# declaring and assigning a number 1825 to n
n = 1825
# printing n which has value of 1825
print("number is :",n)

# declaring and assigning a number 3657 to num
num = 3657
# printing n which has value of 3657
print("number is :",num);

number is : 1825
number is : 3657

In [ ]:
# taking input of 1 st number as integer
a = int(input("enter first number : "))
# taking input of 2 nd number as integer
b = int(input("enter second number : "))

# storing sum of the entered numbers in a variable sum
sum = a + b
# printing the value in variable sum
print("sum is :", sum)

enter first number : 3
enter second number : 5
sum is : 8

In [ ]:
# taking year as input
year=int(input("Enter year to be checked :"))

# checing the condition for leap year
if(year%4==0 and year%100!=0 or year%400==0):
    print("The year is a leap year!")
else:
    print("The year isn't a leap year!")

Enter year to be checked :2022
The year isn't a leap year!

In [ ]:
# taking input from user
x = int(input('Enter value of x : '))
y = int(input('Enter value of y : '))

# create a temporary variable and swaping the values
temp = x
x = y
y = temp

# printing the swapped values
print('The value of x after swapping : ',x)
print('The value of y after swapping : ',y)

Enter value of x : 5
Enter value of y : 8
The value of x after swapping :  8
The value of y after swapping :  5

In [ ]:
# taking input from user
x = int(input('Enter value of x : '))
y = int(input('Enter value of y : '))

# swap code using mul and div
x = x * y
y = x / y
x = x / y

# printing the swapped values
print('The value of x after swapping : ',x)
print('The value of y after swapping : ',y)

Enter value of x : 3
Enter value of y : 7
The value of x after swapping :  7.0
The value of y after swapping :  3.0

In [ ]:
# taking a character as input
ch = input("Enter a character : ")

# used ord() function to convert a character to an integer (ASCII value)
print("The ASCII value of '" + ch + "' : ", ord(ch))

Enter a character : z
The ASCII value of 'z' :  122

In [ ]:
# taking a number as input
num = int(input("Enter a number : "))

# doing the square root operation
sqrt = num ** 0.5
print("square root:", sqrt)

Enter a number : 64
square root: 8.0

In [ ]:
import random # importing a package (random)
a = random.randint(0,15) #generating a random interger from pakage
print("Random number generated is : ",a)

Random number generated is :  6

In [ ]:
numlist = [10,11,12,13,14,15,16,17,18,19]

#since after 5th index considering from 6th index
print("Elements after 5th index : ",numlist[6:]) 

#since before 6th index considering from  0th to 5th index
print("Elements before 6th index : ",numlist[:6])

#considering 2nd and 8th index aswell
print("Elements between 2nd and 8th indices : ",numlist[2:9])

Elements after 5th index :  [16, 17, 18, 19]
Elements before 6th index :  [10, 11, 12, 13, 14, 15]
Elements between 2nd and 8th indices :  [12, 13, 14, 15, 16, 17, 18]

In [ ]:
print("Area of a triangle using sides")

# taking the length of sides as inputs
a = float(input('Enter first side : '))
b = float(input('Enter second side : '))
c = float(input('Enter third side : '))

# calculating the semi-perimeter
s = (a + b + c) / 2

# calculating the area
area1 = (s*(s-a)*(s-b)*(s-c)) ** 0.5
print('The area of the triangle is : %0.2f ' %area1)

print()
print("Area of a triangle using height and base")

# taking base and height lengths as inputs
height = float(input('Enter height of the triangle : '))
base = float(input('Enter base of the triangle : '))

#calculating area from formula 1/2bh
area2= 0.5*base*height
print('The area of the triangle is : %0.2f ' %area2)

Area of a triangle using sides
Enter first side : 6
Enter second side : 8
Enter third side : 10
The area of the triangle is : 24.00

Area of a triangle using height and base
Enter height of the triangle : 8
Enter base of the triangle : 6
The area of the triangle is : 24.00