**Assignment 9**

**Name : Ramakrishna Reddy Are**

**Roll No. : 197212**

**Section : BTech III year CSE-B**

**Date : 28-03-2022**



---

**Implementation of Principal Component Analysis (PCA)**

In [ ]:
# Importing libraries
import numpy as np 
import pandas as pd

***Importing the dataset [iris.data](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data)***

In [ ]:
# Loading dataset
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
dataset = pd.read_csv(url, names=['sepal length','sepal width','petal length','petal width','target'])
print(dataset)

     sepal length  sepal width  petal length  petal width          target
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
X = dataset.iloc[:,0:4]            
Y = dataset.iloc[:,-1]              
print(X)                            
print(Y)

     sepal length  sepal width  petal length  petal width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]
0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: target, Length: 150, dtype: object

In [ ]:
# Scale the dataset [Standardization of the data]
def standardize(X):
  m=X.shape[0]
  n=X.shape[1]
  k=0
  for i in X.columns:
    mean=0                                                        # for mean of each column
    sd=0                                                          # for standard deviation of each column
    mean = np.mean(X[i])                                          # finding mean of each column
    sd = np.sum((X[i]-mean)**2)                          
    sd=sd/(m)
    sd = np.sqrt(sd)                                              # finding standard deviation of each column
    for j in range(m):
      cell=X.iat[j,k]
      X.iat[j,k]=(cell-mean)/sd                                   # replacing the data in the dataset with standardized value
    k+=1
  return X

In [ ]:
X_scaled=standardize(X) 
X_scaled.head()

   sepal length  sepal width  petal length  petal width
0     -0.900681     1.032057     -1.341272    -1.312977
1     -1.143017    -0.124958     -1.341272    -1.312977
2     -1.385353     0.337848     -1.398138    -1.312977
3     -1.506521     0.106445     -1.284407    -1.312977
4     -1.021849     1.263460     -1.341272    -1.312977

In [ ]:
# Calculating covariance matrix
cov=np.cov(X_scaled.T)
cov.shape

(4, 4)

In [ ]:
# Calculating eigen values and eigen vectors
eig_values,eig_vector=np.linalg.eig(cov)
sorted_idxs=np.argsort(eig_values)
eig_values=np.sort(eig_values)
print("eigen values : ",eig_values)
j=1
for i in range(len(eig_values)-1,-1,-1) :
    print("Explained variance for principle component {} = {}".format(j,eig_values[i]/np.sum(eig_values)))
    j+=1;

eigen values :  [0.02074601 0.14834223 0.92740362 2.93035378]
Explained variance for principle component 1 = 0.7277045209380134
Explained variance for principle component 2 = 0.23030523267680636
Explained variance for principle component 3 = 0.03683831957627383
Explained variance for principle component 4 = 0.005151926808906363

In [ ]:
# Transforming data 
for k in range(1,len(eig_values)):
    new_data=np.matmul(X,eig_vector[sorted_idxs[:k]].T)
    print(new_data.shape)
    print(new_data)

(150, 1)
            0
0   -2.114452
1   -2.175833
2   -2.379217
3   -2.360531
4   -2.198124
..        ...
145  1.872832
146  1.326972
147  1.529268
148  1.541696
149  0.944358

[150 rows x 1 columns]
(150, 2)
            0         1
0   -2.114452  0.317626
1   -2.175833  0.201175
2   -2.379217  0.042541
3   -2.360531 -0.006983
4   -2.198124  0.242316
..        ...       ...
145  1.872832 -0.438577
146  1.326972 -0.290590
147  1.529268 -0.263445
148  1.541696 -0.794225
149  0.944358 -0.483373

[150 rows x 2 columns]
(150, 3)
            0         1         2
0   -2.114452  0.317626 -0.879674
1   -2.175833  0.201175  0.255029
2   -2.379217  0.042541 -0.123268
3   -2.360531 -0.006983  0.150346
4   -2.198124  0.242316 -1.061941
..        ...       ...       ...
145  1.872832 -0.438577 -0.139074
146  1.326972 -0.290590  1.097204
147  1.529268 -0.263445 -0.026293
148  1.541696 -0.794225 -0.808703
149  0.944358 -0.483373  0.184046

[150 rows x 3 columns]



---



---

**PCA & LOGISTIC REGRESSION**

In [ ]:
# Importing libraries
import numpy as np 
import pandas as pd
from sklearn.linear_model import LogisticRegression as LogReg

***Importing the dataset [framingham.csv]()***

In [ ]:
# Loading dataset
dataset=pd.read_csv("framingham.csv")
dataset=dataset.dropna()
dataset.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [ ]:
X=dataset.iloc[:,:-1].values
Y=dataset.iloc[:,-1].values
print(X)
print(Y)

[[  1.    39.     4.   ...  26.97  80.    77.  ]
 [  0.    46.     2.   ...  28.73  95.    76.  ]
 [  1.    48.     1.   ...  25.34  75.    70.  ]
 ...
 [  1.    50.     1.   ...  25.97  66.    86.  ]
 [  1.    51.     3.   ...  19.71  65.    68.  ]
 [  0.    52.     2.   ...  21.47  80.   107.  ]]
[0 0 0 ... 1 0 0]

In [ ]:
# Scaling the dataset [Standardization]
def standardise(X):
    mu=np.mean(X,axis=0)
    std=np.std(X,axis=0)
    X=(X-mu)/std
    return X
X=standardise(X)

In [ ]:
X_scaled=standardise(X)
X_scaled

array([[ 1.11982472, -1.23335117,  1.97575158, ...,  0.29168785,
         0.35633992, -0.20312694],
       [-0.8929969 , -0.41559058,  0.01979497, ...,  0.7246142 ,
         1.60828949, -0.24495595],
       [ 1.11982472, -0.1819447 , -0.95818334, ..., -0.10926099,
        -0.06097661, -0.49592996],
       ...,
       [ 1.11982472,  0.05170118, -0.95818334, ...,  0.04570696,
        -0.81214636,  0.17333408],
       [ 1.11982472,  0.16852412,  0.99777327, ..., -1.49413337,
        -0.89560966, -0.57958797],
       [-0.8929969 ,  0.28534706,  0.01979497, ..., -1.06120701,
         0.35633992,  1.05174313]])

In [ ]:
# Calculating covariance matrix
cov=np.cov(X.T)
cov.shape

(15, 15)

In [ ]:
eig_values,eig_vector=np.linalg.eig(cov)
sorted_idxs=np.argsort(eig_values)
eig_values=np.sort(eig_values)
print("eigen values : ",eig_values)

eigen values :  [0.17186421 0.21216497 0.37648529 0.39079017 0.58398741 0.69183576
 0.79130322 0.87227519 1.00691718 1.04488195 1.05852878 1.12054507
 1.56876138 1.88435843 3.22940494]

In [ ]:
sum=0
j=0;
for i in range(len(eig_values)-1,-1,-1) :
    sum+=(eig_values[i]/np.sum(eig_values))
    j+=1 
    if(sum>0.98): break                          # if current variance > 98% 
X_new=np.matmul(X,eig_vector[sorted_idxs[:j]].T)    # transformed data
X_new.shape

(3656, 14)

In [ ]:
model=LogReg()
model.fit(X_new,Y)
model.score(X_new,Y)

0.8539387308533917



---



---